.video {
    width: 80%;
    height: auto;
    border-radius: 2%;
    -moz-box-shadow: 0px 0px 7px white;
    -webkit-box-shadow: 0px 0px 7px white;
    box-shadow: 0px 0px 7px white;
}

/* .card-shadow {
    padding: 5%;
    border-radius: 2%;
    -moz-box-shadow: 0px 0px 7px white;
        -webkit-box-shadow: 0px 0px 7px white;
        box-shadow: 0px 0px 7px white;
} */

.btn {
    background-color: transparent;
    -moz-box-shadow: 0px 0px 4px lightblue;
    -webkit-box-shadow: 0px 0px 4px lightblue;
    box-shadow: 0px 0px 4px lightblue;
}

.text-secondary {
    font-size: small;
}